.session-flow h2 {
  padding-top: 2rem;
  font-size: clamp(3rem, 2.2vw, 1.6rem);
  text-align: center;
}

#root > section.session-flow > p {
  font-size: clamp(1.1rem, 2.2vw, 1.6rem);
  padding-top: 20px;
  text-align: center;
}

.session-flow-section {
  display: flex;
  background-color: white;
  margin: 2rem;
  font-size: clamp(1.1rem, 2.2vw, 1.6rem);
  padding: 16px;
  border-radius: 10px;
}

.session-flow-left {
  text-align: center;
}

.session-flow-right {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.session-flow-right a {
  border: 2px solid black;
  border-radius: 10px;
  padding: 16px;
  color: black;
}
