.introduction {
  margin: 20px;
}

.introduction h2 {
  font-size: clamp(1.1rem, 2.2vw, 1.6rem);
  font-weight: 100;
  text-align: center;
}

.introduction h3 {
  font-size: clamp(1.1rem, 2.2vw, 1.6rem);
  text-align: center;
  font-weight: 100;
}

.introduction p {
  font-size: clamp(1.1rem, 2.2vw, 1.6rem);
  text-align: center;
}
