.usages h2 {
  padding-top: 2rem;
  font-size: clamp(3rem, 2.2vw, 1.6rem);
  padding-bottom: 2rem;
  text-align: center;
}

.usages p {
  font-size: clamp(1.1rem, 2.2vw, 1.6rem);
  text-align: center;
}

.bienfaits {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#root > section.usages > p.mise-en-garde {
  color: red;
  font-size: 1.2rem;
}
