.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

.hero h1 {
  font-size: clamp(2.5rem, 2.2vw, 1.6rem);
  font-weight: bold;
  color: black;
  text-align: center;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
