.navbar {
  display: flex;
  padding: 20px;
}

.navbar ul {
  padding-top: 20px;
  display: flex;
  gap: 50px;
  list-style: none;
  justify-content: space-between;
}

.navbar ul li {
  font-size: clamp(1.1rem, 2.2vw, 1.6rem);
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.navbar ul li a {
  color: black;
  text-decoration: none;
}
