.navbar {
  display: flex;
}

.navbar ul {
  display: flex;
  gap: 20px;
  list-style: none;
  justify-content: space-between;
}

.navbar ul li {
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.navbar ul li a {
  color: #333;
  text-decoration: none;
}
