@font-face {
  font-family: "Glonto";
  src: url("./assets/fonts/glonto-font/glonto-regular.otf");
}

@font-face {
  font-family: "Glonto-oblique";
  src: url("./assets/fonts/glonto-font/glonto-oblique.otf");
}

#root {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  background-color: #f9eed3;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Glonto";
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}
